@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --primary: 0 100% 40%; /* gavani-red */
  --primary-foreground: 0 0% 100%;
  --secondary: 60 100% 60%; /* gavani-yellow */
  --secondary-foreground: 20 14.3% 4.1%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --ring: 20 14.3% 4.1%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --primary: 0 100% 40%;
  --primary-foreground: 0 0% 100%;
  --secondary: 60 100% 60%;
  --secondary-foreground: 20 14.3% 4.1%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer components {
  .container-padding {
    @apply px-4 md:px-8 lg:px-16;
  }

  .nav-link {
    @apply relative px-6 py-2 text-white transition-colors;
  }

  .nav-link::after {
    content: "";
    @apply absolute left-1/2 bottom-0 h-[2px] w-0 bg-white transform -translate-x-1/2 transition-all duration-300;
  }

  .nav-link:hover::after {
    @apply w-3/4;
  }

  .breadcrumb-item::after {
    content: "/";
    margin: 0 0.5rem;
    color: #777;
  }
  .breadcrumb-item:last-child::after {
    content: "";
  }
}
